[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
requests = "*"
requests-futures = "*"
lxml = "*"
pymongo = "*"
google-cloud-storage = "*"
google-cloud-bigquery = "*"

[dev-packages]

[requires]
python_version = "3.6"
